* {
  box-sizing: border-box;
}

body {
  background-color: blue;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 12fr 1fr;
}

.board {
  border: 1px solid black;
  display: grid;
}

.board-space {
  border: 1px solid white;
}

.hidden {
  display: none;
}

.main-board {
  height: 60vh;
}

.ship {
  background-color: black;
  height: 40px;
  margin: 10px;
}